/* ==========================================================================
COLORS
========================================================================== */

@white: rgb(255, 255, 255);
@offWhite: rgb(247, 247, 247);
@greyLightest: rgb(238, 238, 238);
@greyLighter: rgb(221, 221, 221);
@greyLight: rgb(188, 188, 188);
@greyMid: rgb(122, 122, 122);
@greyDark: rgb(75,75,75);
@greyDarker: rgb(30, 30, 30);
@greyDarker: rgb(16, 16, 16);
@offBlack: rgb(8, 8, 8);
@black: rgb(0, 0, 0);
@blackAlpha70: rgba(0, 0, 0, .7);
@blackAlpha50: rgba(0, 0, 0, .5);
@blackAlpha20: rgba(0, 0, 0, .2);
@blue1: rgb(45, 51, 72);
@blue2: rgb(95, 116, 204);
@blue3: rgb(110, 134, 236);

/* ==========================================================================
TEMPLATE VARIABLES
========================================================================== */

// @defaultColor: @greyDark;

@headerHeight: 51px;
@footerHeight: 165px;
@mobileHeaderHeight: @headerHeight * 1.0;

@fontFamily: 'Roboto', sans-serif;

@zindexMainMenu: 100;
@zindexLogo: 101;

/* ==========================================================================
MEDIA QUERIES
========================================================================== */


@media0: ~"(min-width: 1440px)";
@media0_: ~"(max-width: 1439px)";

@media1: ~"(min-width: 1200px)";
@media1_: ~"(max-width: 1199px)";

@media2: ~"(min-width: 992px)";
@media2_: ~"(max-width: 991px)";

@media3: ~"(min-width: 768px)";
@media3_: ~"(max-width: 767px)";

@media4: ~"(min-width: 480px)";
@media4_: ~"(max-width: 479px)";


/* ==========================================================================
TEMPLATE MIXINS
========================================================================== */


.displayNone(){
    display: none !important;
}


/* ==========================================================================
CUSTOM MIXINS
========================================================================== */



.transition(@transition) {
    -webkit-transition: @transition;
    -moz-transition: @transition;
    -ms-transition: @transition;
    transition: @transition;
}

.keyframes(@name; @args) {
    @-moz-keyframes @name { @args(); }
    @-webkit-keyframes @name { @args(); }
    @keyframes @name { @args(); }
}

.animation(@args) {
    -webkit-animation: @args;
    -moz-animation: @args;
    animation: @args;
}


/* ==========================================================================
GLOBAL STYLES
========================================================================== */

html{
    font-size: 10px;
}

// Animate Classes

[data-animate-scroll*="fade-in-"] {
    opacity: 0;
    transition: all 1s ease-in-out; 
}

[data-animate-scroll="fade-in-up"] {
    transform: translateY(75px) scale(.95);
}

[data-animate-scroll="fade-in-left"] {
    transform: translateX(-75px) scale(.95);
}

[data-animate-scroll="fade-in-right"] {
    transform: translateX(75px) scale(.95);
}

[class*="--active"] {
    opacity: 1;
    transform: translate(0) scale(1);
}

.displayNone{
    .displayNone();
}

// Keyframe Animations

.keyframes(fadeOut; {
    0% { opacity: 1; }        
    100% { opacity: 0; height: 0; padding: 0; }
    });

section{
    box-sizing: border-box;
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
  from { width: 0; } 

} 

@keyframes blink{
  to{opacity: .0;}
}

/* ==========================================================================
HEADER OVERRIDE
========================================================================== */

.navbar{
    margin-bottom: 0;
    height: 5rem;
    background-color: transparent;
}
.menu-container{
    background-color: @blackAlpha50;
}

.navbar-default{
    .navbar-brand{
        color: @white;
        &:hover{
            color: @white;
        }
        &:focus{
            color: @white;
        }
        @media screen and @media4_{
            font-size: 15px;
        }
    }
    .navbar-nav{
        >li{
            >a{
                color: @white;
                &:hover{
                    background-color: @greyMid;
                    color: @white;
                }
                &:focus{
                    color: @white;
                }
                &.active{
                    background-color: @greyMid;
                }
            }
        }
    }
    .navbar-collapse{
        // background-color: @blackAlpha50;
        text-align: center;
        @media screen and @media2_{
            .navbar-nav{
                margin: 0;
            }

        }
        @media screen and @media3_{
            .navbar-nav{
                &.pull-right{
                    float: none !important;
                }
            }

        }
        @media screen and @media4_{
            .navbar-nav{
                width: 100%;
            }
        }
    }
    .navbar-toggle{
        border-color: @white;
        &:hover,
        &:focus{
            background-color: @greyDark;
        }
        .icon-bar{
           background-color: @white; 
        }
    }
}

/* ==========================================================================
SECTION SPECIFIC
========================================================================== */
.container{
    h2{
        color: @white;
        margin-bottom: 40px;
        text-transform: uppercase;
    }
}

/* ==========================================================================
HOME SECTION
========================================================================== */


#home_section{
    .home_wrapper{
        position: relative;
        .image_wrapper{
            background: url(../images/banner-site.jpg) no-repeat center center fixed;
            background-size: cover;
            height: 100vh;
            .home_content_block{
                display: flex;
                justify-content: center;
                height: 100%;
                color: @white;
                align-items: center;
                text-align: center;

            }
        }
        .arrow_wrapper{
            position: absolute;
            bottom: 5rem;
            width: 100%;
            &:hover{
                cursor: pointer;
            }
            .arrow_container{
                text-align: center;
                width: 100%;
            }
        }
        .home_content{
            // h1{
            //   white-space: nowrap;
            //   overflow: hidden;
            //   width: 30em;
            //   margin: 10px 0 0 10px;
            //   .animation(type 10s steps(60, end));
            //     &:nth-child(2){
            //         width: 30em;
            //         .animation(type2 20s steps(60, end));
            //     }
            // }
            // span{
            //   .animation(blink 1s infinite);
            // }

            
        }

    }       
}

/* ==========================================================================
ABOUT SECTION
========================================================================== */

#about_section{
    background-color: @blue2;

}
.about_content_block {
    min-height: 40rem;
    display: flex;
    align-items: center;
    color: @white;
    font-size: 2.4rem;
}


/* ==========================================================================
PORTFOLIO SECTION
========================================================================== */

#portfolio_section{
    background-color: @blue1;
}
.portfolio_wrapper_block{
    padding: 7rem 0rem;
}
.portfolio_wrapper{
    .portfolio_item{
        color: @white;
        text-decoration: none;
        .portfolio_info_block{
            margin-bottom: 1rem;
            
            .portfolio_title{
                font-size: 1.7rem;
                font-weight: 500;
                text-align: center;
                &:after{
                    content: "";
                    display: block;
                    height: .1rem;
                    background-color: white;
                    margin: .3rem 0rem;
                }
            }
        }
        &:hover{
            .technology_wrapper{
                opacity: 1;
            }
        }
    }
    @media screen and @media2_{
        .portfolio_item{
            // .technology_wrapper{
            //     ul{
            //         list-style-type: none;
            //         margin: 0;
            //         padding: 0;
            //         display: inline;
            //         li{

            //             height: 2.2rem;
            //             width: 30%;
            //             text-align: center;
            //             display: inline-block;
            //             &:after{
            //                 height: 0;
            //             }
            //         }
            //     }
            // }
        }
    }
    @media screen and @media3{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        .portfolio_item {
            width: 30%;
            margin-bottom: 3rem;
            &:after{
                content: "";
                display: block;
                height: .2rem;
                background-color: @white;
                margin-top: 3rem;
            }
        }    
    }
    @media screen and @media3_{
        .portfolio_item {
            display: flex;
            flex-flow: column;
            margin-bottom: 4rem;

            .technology_wrapper{
                display: none;
                ul{
                    display: flex;
                    li{
                        &:after{
                            content: "";
                            display: block;
                            height: 2px;
                            background-color: @white;
                        }
                    }
                }
            }
        }

    }

}
.portfolio_image_wrapper{
    position: relative;
    height: 0;
    width: 100%;
    padding-top: 56.25%;
    .image_wrapper{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .image_block{
            background-size: cover;
            height: 100%;
        }    
    }
    .technology_wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        background-color: @blackAlpha70;
        color: @white;
        transition: .25s linear;
        display: flex;
        flex-flow: column;
        justify-content: center;
        h4{
            text-align: center;
            margin-bottom: 0.5rem;
        }
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: inline;
            flex-flow: column;
            align-items: center;
            text-align: center;
            column-count: 2;
            li{ 
                height: 2.2rem;
                width: 30%;
                text-align: left;
                display: inline-block;
                margin-right: 4rem;
                &:after{
                    // content: "";
                    // display: block;
                    // height: 2px;
                    // background-color: @white;
                }
                &:last-child{
                    &:after{
                        height: 0px;
                    }
                }
            }
        }

    }
}
.portfolio_description{
    display: flex;
    align-items: center;
    min-height: 4rem;
    justify-content: center;
}

.fade_msg{
    .animation(fadeOut 3s forwards);
}

/* ==========================================================================
EXPERIENCE SECTION
========================================================================== */

#experience_section{
    background-color: @blue2;
}

.experience_list_wrapper{
    padding: 7rem 0rem;
}


.resume_link{
    background-color: @white;
    border: 2px solid @greyLight;
    color: @greyDark;
    transition: .2s linear;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    &:hover{
        background-color: @greyLight;
        color: @white;
    }
}


.experience_item{
    margin-bottom: 3rem;
    background-color: @white;
    padding-bottom: 2rem;
    .work_header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5rem;
        background: @greyLightest;
        padding: 0 2rem;
        @media screen and @media4_{
            font-size: 1.9rem;
        }
        .badge{
            border-radius: 0;    
        }

    }
    .company_block{
        padding: 0 2rem;
        .work_logo_block{
            width: 25%;
            padding: 2rem 0rem;
        }
        .work_logo_wrapper{
            position: relative;
            height: 0;
            width: 100%;
            padding-top: 100%;
            &:nth-child(3){
                padding-top: 16%;
            }
            .image_wrapper{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                .image_block{
                    background-size: cover;
                    height: 100%;
                }    
            }

        }

    }
    .responsibilities{
        ul{
            padding-left: 0;
            .list-group-item{
                border: none;
                border-top: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                &:nth-child(even){
                    background-color: @greyLightest;
                }
                &:first-of-type{
                    border-top: none;
                }
            }
        }
    }
    &:nth-of-type(3){
        .work_logo_block{
            width: 35%;
        }
        .work_logo_wrapper{
            padding-top: 16%;

        }
    }
}

/* ==========================================================================
SKILLS SECTION
========================================================================== */

#skills_section{
    background-color: @blue1;
}

.skills_list_wrapper{
    padding: 7rem 0rem;
    color: @white;
}

.skills_content{
    display: flex;
    height: 16rem;
    align-items: center;
}
.skills_item_container{
    display: flex;
    flex-flow: row wrap;
    .skills_item{
        width: (100%/3);
        text-align: center;
        display: inline-block;
        margin-bottom: 4rem;
        img{
            width: 7rem;
        }
    }
}

#contact_section{
    padding-bottom: 3rem;
    background-color: @blue2;
    .container{
        .contact_wrapper{
            h2{
                margin-bottom: 10px;
            }
        }
    }
}
.contact_wrapper{
    padding: 7rem 0rem;
    color: @white;
}
.contact_content{
    height: 7rem;
    display: flex;
    align-items: center;
    font-size: 1.9rem;
}
.form_wrapper{
    width: 100%;
    margin: 2rem auto 0rem auto;
    padding: 2rem;
    border: 1px solid white;
    
    .form-group,
    .has-error{
        .text-danger{
            color: red;
            font-weight: bold;
        }
    }
}

#footer{

    background-color: @blue1;
    height: 5rem;
    display: flex;
    align-items: center;
    color: @white;
    .footer_content{
        p{
            margin-bottom: 0;
        }
    }

}