/* ==========================================================================
       COLORS
       ========================================================================== */

@white: rgb(255, 255, 255);
@offWhite: rgb(247, 247, 247);
@greyLightest: rgb(238, 238, 238);
@greyLighter: rgb(221, 221, 221);
@greyLight: rgb(188, 188, 188);
@greyMid: rgb(122, 122, 122);
@greyDark: rgb(61, 61, 61);
@greyDarker: rgb(30, 30, 30);
@greyDarker: rgb(16, 16, 16);
@offBlack: rgb(8, 8, 8);
@black: rgb(0, 0, 0);

@blue: rgb(64, 103, 255);
@orange: rgb(255, 127, 0);
@orangeAlpha50: rgba(255, 127, 0, 0.5);

/* ==========================================================================
       TEMPLATE VARIABLES
       ========================================================================== */

@defaultColor: @greyDark;

@fontFamilySatisfy: "Satisfy", cursive;
@fontFamilyOswalt: "Oswald", sans-serif;

/* ==========================================================================
       MEDIA QUERIES
       ========================================================================== */

@media0: ~"(min-width: 1440px)";
@media0_: ~"(max-width: 1439px)";

@media1: ~"(min-width: 1200px)";
@media1_: ~"(max-width: 1199px)";

@media2: ~"(min-width: 992px)";
@media2_: ~"(max-width: 991px)";

@media3: ~"(min-width: 768px)";
@media3_: ~"(max-width: 767px)";

@media4: ~"(min-width: 480px)";
@media4_: ~"(max-width: 479px)";

/* ==========================================================================
       TEMPLATE MIXINS
       ========================================================================== */

.displayNone() {
  display: none !important;
}

/* ==========================================================================
   GLOBAL STYLES
   ========================================================================== */

body {
  background-color: @white;
  letter-spacing: 0.3px;
  color: @defaultColor;
}
html {
  font-size: 10px;
}

.displayNone {
  .displayNone();
}

.keyframes(@name; @args) {
  @-moz-keyframes @name {
    @args();
  }
  @-webkit-keyframes @name {
    @args();
  }
  @keyframes @name {
    @args();
  }
}

.animation(@args) {
  -webkit-animation: @args;
  -moz-animation: @args;
  animation: @args;
}

/* ==========================================================================
   APP STYLES
   ========================================================================== */

.keyframes(
  slideUp; {from{transform: translateY(0) ; overflow: hidden;} to{overflow:
    hidden; height: 0; transform: translateY(-100vh) ;}}
);

.keyframes(
  fadeOut; {from{opacity: 1; overflow: hidden;} to{opacity: 0; height: 0;}}
);

section.game_overlay {
  height: 100vh;
  background-color: @blue;
  .start_overlay {
    display: flex;
    height: 100%;
    .overlay_block {
      width: 100%;
      height: auto;
      margin: auto;
      text-align: center;
      color: @white;
      .overlay_game_title {
        font-family: @fontFamilySatisfy;
        font-size: 8rem;
        margin-bottom: 2rem;
      }
      .overlay_text_block {
        margin-bottom: 3rem;
        .overlay_text {
          font-family: @fontFamilyOswalt;
          font-size: 5rem;
        }
      }

      .start_button {
        background-color: @orange;
        padding: 1rem;
        width: 50%;
        margin: 0 auto;
        border: 1px solid grey;
        border-radius: 2rem;
        transition: background-color 0.25s;
        cursor: pointer;
        span {
          text-transform: uppercase;
        }
        &:hover {
          background-color: @orangeAlpha50;
        }
      }
    }
  }
}
section.slide_up {
  .animation(slideUp 2s forwards);
}
section.game_container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: @white;
}

.game_wrapper {
  .title_container {
    text-align: center;
    font-family: @fontFamilySatisfy;
    h1 {
      font-size: 5rem;
      margin-top: 0;
      margin-bottom: 3rem;
    }
  }
  .instructions_container {
    margin-bottom: 3rem;
    text-align: center;
    * {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .submit_guess {
    margin-bottom: 2rem;
    text-align: center;
    .submit_guess {
      .guess_section {
        margin-bottom: 1rem;
        label {
          padding-right: 1rem;
        }
      }
    }
  }

  .resultParams {
    .guess_container {
      margin-bottom: 2rem;
      .guesses {
        border-radius: 0px;
      }
    }

    .lastResultContainer {
      text-align: center;
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 2rem;
      .lastResult {
        color: white;
        padding: 3px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2rem;
      }
      .incorrect {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        border-color: red;
        font-size: 16px;
        color: white;
        line-height: 140%;
        text-align: center;
        background: red;
        border: 3px solid;
        font-weight: bold;
      }
    }
    .lowOrHiContainer {
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: @white;
      .lowOrHi {
        margin-bottom: 0;
      }
    }
    .lowAnswer {
      background-color: blue;
    }
    .highAnswer {
      background-color: pink;
    }
    .lastResultContainer.fadeOut {
      .animation(fadeOut 0.25s forwards);
    }
    .lowGuessContainer {
      margin-bottom: 2rem;
      * {
        margin-bottom: 0px;
      }
    }

    .binary_block {
      padding: 2rem 0rem;
      color: #8a6d3b;
      background-color: #fcf8e3;
      border-color: #faebcc;
      text-align: center;
      margin-bottom: 2rem;
    }
    .button_container {
      text-align: center;
    }
  }
}
