/* COLORS */
.you_win {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
  height: 100vh;
}

.you_win .winning_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.game_over {
  position: fixed;
}

.game_on {
  position: relative;
}

.pyro > .before,
.pyro > .after {
  position: absolute;
  top: 20%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
          box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    -webkit-box-shadow: 130px -199.66667px #ff0400, -100px 57.33333px #00d5ff, -39px -98.66667px #ff00ea, -6px -74.66667px #0900ff, -7px -90.66667px #0d00ff, 149px -403.66667px #ccff00, 107px -112.66667px #ff00f2, -67px -266.66667px #00ff09, -104px 44.33333px #ff1500, -27px -265.66667px #0073ff, 135px 64.33333px #ff3300, 15px -377.66667px #ff00fb, 111px -60.66667px #ff0d00, 44px -201.66667px #ff0059, -204px -377.66667px #fb00ff, 154px 40.33333px #00bbff, 52px -189.66667px #ff7b00, 223px -303.66667px #1500ff, 15px -91.66667px #aeff00, 80px -188.66667px #a200ff, -145px -229.66667px #00ff04, -220px -380.66667px #ffa200, 191px 32.33333px #ff00c4, 230px -351.66667px #ff2600, -77px -146.66667px #0048ff, -63px -291.66667px #ff0051, -153px -27.66667px #d0ff00, 62px -236.66667px #d000ff, -144px -323.66667px #bb00ff, -223px -90.66667px #0066ff, 34px -387.66667px #8800ff, -6px -319.66667px #00ffea, -126px -16.66667px #00ff62, 120px -244.66667px #004dff, -243px -347.66667px #ff4800, -198px -353.66667px cyan, -205px 76.33333px #00ccff, 101px -365.66667px #ccff00, 53px -237.66667px #00ff9d, -157px -7.66667px #00b3ff, -157px -355.66667px #ff008c, -197px -65.66667px #c4ff00, 206px -104.66667px #00ff09, 18px -410.66667px #4000ff, -56px 55.33333px #00ff33, 14px -88.66667px #00ff99, 87px -108.66667px #ff0d00, -97px -196.66667px #1e00ff, 9px -199.66667px #001aff, 155px -29.66667px #ff000d, -21px -293.66667px #fff700;
            box-shadow: 130px -199.66667px #ff0400, -100px 57.33333px #00d5ff, -39px -98.66667px #ff00ea, -6px -74.66667px #0900ff, -7px -90.66667px #0d00ff, 149px -403.66667px #ccff00, 107px -112.66667px #ff00f2, -67px -266.66667px #00ff09, -104px 44.33333px #ff1500, -27px -265.66667px #0073ff, 135px 64.33333px #ff3300, 15px -377.66667px #ff00fb, 111px -60.66667px #ff0d00, 44px -201.66667px #ff0059, -204px -377.66667px #fb00ff, 154px 40.33333px #00bbff, 52px -189.66667px #ff7b00, 223px -303.66667px #1500ff, 15px -91.66667px #aeff00, 80px -188.66667px #a200ff, -145px -229.66667px #00ff04, -220px -380.66667px #ffa200, 191px 32.33333px #ff00c4, 230px -351.66667px #ff2600, -77px -146.66667px #0048ff, -63px -291.66667px #ff0051, -153px -27.66667px #d0ff00, 62px -236.66667px #d000ff, -144px -323.66667px #bb00ff, -223px -90.66667px #0066ff, 34px -387.66667px #8800ff, -6px -319.66667px #00ffea, -126px -16.66667px #00ff62, 120px -244.66667px #004dff, -243px -347.66667px #ff4800, -198px -353.66667px cyan, -205px 76.33333px #00ccff, 101px -365.66667px #ccff00, 53px -237.66667px #00ff9d, -157px -7.66667px #00b3ff, -157px -355.66667px #ff008c, -197px -65.66667px #c4ff00, 206px -104.66667px #00ff09, 18px -410.66667px #4000ff, -56px 55.33333px #00ff33, 14px -88.66667px #00ff99, 87px -108.66667px #ff0d00, -97px -196.66667px #1e00ff, 9px -199.66667px #001aff, 155px -29.66667px #ff000d, -21px -293.66667px #fff700;
  }
}

@keyframes bang {
  to {
    -webkit-box-shadow: 130px -199.66667px #ff0400, -100px 57.33333px #00d5ff, -39px -98.66667px #ff00ea, -6px -74.66667px #0900ff, -7px -90.66667px #0d00ff, 149px -403.66667px #ccff00, 107px -112.66667px #ff00f2, -67px -266.66667px #00ff09, -104px 44.33333px #ff1500, -27px -265.66667px #0073ff, 135px 64.33333px #ff3300, 15px -377.66667px #ff00fb, 111px -60.66667px #ff0d00, 44px -201.66667px #ff0059, -204px -377.66667px #fb00ff, 154px 40.33333px #00bbff, 52px -189.66667px #ff7b00, 223px -303.66667px #1500ff, 15px -91.66667px #aeff00, 80px -188.66667px #a200ff, -145px -229.66667px #00ff04, -220px -380.66667px #ffa200, 191px 32.33333px #ff00c4, 230px -351.66667px #ff2600, -77px -146.66667px #0048ff, -63px -291.66667px #ff0051, -153px -27.66667px #d0ff00, 62px -236.66667px #d000ff, -144px -323.66667px #bb00ff, -223px -90.66667px #0066ff, 34px -387.66667px #8800ff, -6px -319.66667px #00ffea, -126px -16.66667px #00ff62, 120px -244.66667px #004dff, -243px -347.66667px #ff4800, -198px -353.66667px cyan, -205px 76.33333px #00ccff, 101px -365.66667px #ccff00, 53px -237.66667px #00ff9d, -157px -7.66667px #00b3ff, -157px -355.66667px #ff008c, -197px -65.66667px #c4ff00, 206px -104.66667px #00ff09, 18px -410.66667px #4000ff, -56px 55.33333px #00ff33, 14px -88.66667px #00ff99, 87px -108.66667px #ff0d00, -97px -196.66667px #1e00ff, 9px -199.66667px #001aff, 155px -29.66667px #ff000d, -21px -293.66667px #fff700;
            box-shadow: 130px -199.66667px #ff0400, -100px 57.33333px #00d5ff, -39px -98.66667px #ff00ea, -6px -74.66667px #0900ff, -7px -90.66667px #0d00ff, 149px -403.66667px #ccff00, 107px -112.66667px #ff00f2, -67px -266.66667px #00ff09, -104px 44.33333px #ff1500, -27px -265.66667px #0073ff, 135px 64.33333px #ff3300, 15px -377.66667px #ff00fb, 111px -60.66667px #ff0d00, 44px -201.66667px #ff0059, -204px -377.66667px #fb00ff, 154px 40.33333px #00bbff, 52px -189.66667px #ff7b00, 223px -303.66667px #1500ff, 15px -91.66667px #aeff00, 80px -188.66667px #a200ff, -145px -229.66667px #00ff04, -220px -380.66667px #ffa200, 191px 32.33333px #ff00c4, 230px -351.66667px #ff2600, -77px -146.66667px #0048ff, -63px -291.66667px #ff0051, -153px -27.66667px #d0ff00, 62px -236.66667px #d000ff, -144px -323.66667px #bb00ff, -223px -90.66667px #0066ff, 34px -387.66667px #8800ff, -6px -319.66667px #00ffea, -126px -16.66667px #00ff62, 120px -244.66667px #004dff, -243px -347.66667px #ff4800, -198px -353.66667px cyan, -205px 76.33333px #00ccff, 101px -365.66667px #ccff00, 53px -237.66667px #00ff9d, -157px -7.66667px #00b3ff, -157px -355.66667px #ff008c, -197px -65.66667px #c4ff00, 206px -104.66667px #00ff09, 18px -410.66667px #4000ff, -56px 55.33333px #00ff33, 14px -88.66667px #00ff99, 87px -108.66667px #ff0d00, -97px -196.66667px #1e00ff, 9px -199.66667px #001aff, 155px -29.66667px #ff000d, -21px -293.66667px #fff700;
  }
}

@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-webkit-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@-webkit-keyframes slideUp {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    overflow: hidden;
  }
  to {
    overflow: hidden;
    height: 0;
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
}

@keyframes slideUp {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    overflow: hidden;
  }
  to {
    overflow: hidden;
    height: 0;
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
}

html {
  font-size: 10px;
}

.displayNone {
  display: none !important;
}

.game_intro {
  height: 100vh;
  background-image: url("./images/civil-rights-march.jpg");
}

.game_intro:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.game_intro.slide_up {
  -webkit-animation: slideUp 2s forwards;
  animation: slideUp 2s forwards;
}

.start_overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.start_overlay .overlay_block {
  width: 100%;
  height: auto;
  margin: auto;
  text-align: center;
  color: white;
  z-index: 1;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.start_overlay .overlay_block .overlay_game_title {
  font-size: 5rem;
  margin-bottom: 2rem;
}

.start_overlay .overlay_block .overlay_text_block {
  margin-bottom: 3rem;
}

.start_overlay .overlay_block .overlay_text_block .overlay_text {
  font-size: 2rem;
}

.play_again,
.start_button {
  background-color: #ff7f00;
  padding: 1rem;
  width: 50%;
  margin: 0 auto;
  border: 1px solid #996600;
  border-radius: 2rem;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 0px #996600;
          box-shadow: 0px 5px 0px #996600;
  position: relative;
  top: 0px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  text-align: center;
}

.play_again span,
.start_button span {
  text-transform: uppercase;
}

.play_again:active,
.start_button:active {
  -webkit-box-shadow: 0 3px 0 #996600;
          box-shadow: 0 3px 0 #996600;
  top: 3px;
}

.game_wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#memory_board {
  border: #999 1px solid;
  width: 800px;
  padding: 24px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  -webkit-perspective: 800px;
          perspective: 800px;
  background-image: url("/wp-content/themes/charlesjulian/portfolio/memoryGame/images/board-background.jpg");
}

#memory_board .card {
  border: #000 1px solid;
  width: 150px;
  height: 250px;
  float: left;
  margin: 10px;
  padding: 0px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  list-style-type: none;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: relative;
}

.bio_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.bio_wrapper .tile_bio {
  max-width: 60vw;
}

.close {
  position: relative;
  right: 0;
  top: -10rem;
}

.flipper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.flipper .front,
.flipper .back {
  height: 100%;
}

.back {
  position: absolute;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.back span {
  margin-bottom: 1rem;
}
/*# sourceMappingURL=styles.css.map */