/* COLORS */

$lightGrey: rgb(218, 218, 218);
$green: rgb(66, 141, 65);
$white: rgb(255, 255, 255);
$orange: rgb(255, 127, 0);
$orangeAlpha70: rgba(255, 127, 0, 0.7);
$orangeDark: rgb(153, 102, 0);

// @mixin keyframes($name; $args) {
// 	@-moz-keyframes $name { $args(); }
// 	@-webkit-keyframes $name { $args(); }
// 	@keyframes $name { $args(); }
// }

// .animation(@args) {
// 	-webkit-animation: @args;
// 	-moz-animation: @args;
// 	animation: @args;
// }

$particles: 50;
$width: 500;
$height: 500;

// Create the explosion...
$box-shadow: ();
$box-shadow2: ();
@for $i from 0 through $particles {
  $box-shadow: $box-shadow,
    random($width)-$width /
      2 +
      px
      random($height)-$height /
      1.2 +
      px
      hsl(random(360), 100, 50);
  $box-shadow2: $box-shadow2, 0 0 #fff;
}
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }

  @-moz-keyframes #{$animationName} {
    @content;
  }

  @-o-keyframes #{$animationName} {
    @content;
  }

  @-ms-keyframes #{$animationName} {
    @content;
  }

  @keyframes #{$animationName} {
    @content;
  }
}

@mixin animation-delay($settings) {
  -moz-animation-delay: $settings;
  -webkit-animation-delay: $settings;
  -o-animation-delay: $settings;
  -ms-animation-delay: $settings;
  animation-delay: $settings;
}

@mixin animation-duration($settings) {
  -moz-animation-duration: $settings;
  -webkit-animation-duration: $settings;
  -o-animation-duration: $settings;
  -ms-animation-duration: $settings;
  animation-duration: $settings;
}

@mixin animation($settings) {
  -moz-animation: $settings;
  -webkit-animation: $settings;
  -o-animation: $settings;
  -ms-animation: $settings;
  animation: $settings;
}

@mixin transform($settings) {
  transform: $settings;
  -moz-transform: $settings;
  -webkit-transform: $settings;
  -o-transform: $settings;
  -ms-transform: $settings;
}

.you_win {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
  height: 100vh;
  .winning_text {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: $white;
  }
}
.game_over {
  position: fixed;
}
.game_on {
  position: relative;
}

.pyro > .before,
.pyro > .after {
  position: absolute;
  top: 20%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: $box-shadow2;
  @include animation(
    (
      1s bang ease-out infinite backwards,
      1s gravity ease-in infinite backwards,
      5s position linear infinite backwards
    )
  );
}

.pyro > .after {
  @include animation-delay((1.25s, 1.25s, 1.25s));
  @include animation-duration((1.25s, 1.25s, 6.25s));
}

@include keyframes(bang) {
  to {
    box-shadow: $box-shadow;
  }
}

@include keyframes(gravity) {
  to {
    @include transform(translateY(200px));
    opacity: 0;
  }
}

@include keyframes(position) {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@include keyframes(slideUp) {
  from {
    transform: translateY(0);
    overflow: hidden;
  }
  to {
    overflow: hidden;
    height: 0;
    transform: translateY(-100vh);
  }
}

@mixin displayNone() {
  display: none !important;
}

html {
  font-size: 10px;
}

.displayNone {
  @include displayNone;
}

.game_intro {
  height: 100vh;
  background-image: url("./images/civil-rights-march.jpg");
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.game_intro.slide_up {
  @include animation(slideUp 2s forwards);
}

.start_overlay {
  display: flex;
  height: 100%;
  .overlay_block {
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
    color: $white;
    z-index: 1;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    .overlay_game_title {
      font-size: 5rem;
      margin-bottom: 2rem;
    }
    .overlay_text_block {
      margin-bottom: 3rem;
      .overlay_text {
        font-size: 2rem;
      }
    }
  }
}
.play_again,
.start_button {
  background-color: $orange;
  padding: 1rem;
  width: 50%;
  margin: 0 auto;
  border: 1px solid $orangeDark;
  border-radius: 2rem;
  transition: background-color 0.25s;
  cursor: pointer;
  box-shadow: 0px 5px 0px $orangeDark;
  position: relative;
  top: 0px;
  transition: all ease 0.3s;
  text-align: center;
  span {
    text-transform: uppercase;
  }
  &:active {
    box-shadow: 0 3px 0 $orangeDark;
    top: 3px;
  }
}

.game_wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
}

#memory_board {
  border: #999 1px solid;
  width: 800px;
  padding: 24px;
  margin: 0px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  position: relative;
  perspective: 800px;
  background-image: url("/wp-content/themes/charlesjulian/portfolio/memoryGame/images/board-background.jpg");
  .card {
    border: #000 1px solid;
    width: 150px;
    height: 250px;
    float: left;
    margin: 10px;
    padding: 0px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    list-style-type: none;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: $white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    backface-visibility: hidden;
    position: relative;
  }
}
.bio_wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  background-color: white;
  .tile_bio {
    max-width: 60vw;
  }
}
.close {
  position: relative;
  right: 0;
  top: -10rem;
}

.flipper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .front,
  .back {
    height: 100%;
  }
}

.back {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  span {
    margin-bottom: 1rem;
  }
}
